@font-face {
    font-family: "Tormenta";
    src: url(../fonts/Tormenta.ttf);
}

#bootstrapFloatAlert {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 5000;
}

.glyp-adj {
    top: 3px !important;
}

.btnl-lg {
    height: 34px !important;
}

.app-title {
    font-family: Tormenta;
    font-size: 18px;
    margin-left: 10px;
    display: none;
}

.right-bar {
    position: absolute;
    right: 0;
    top: 40px;
    width: 62px;
    height: 200px;
}

.block {
    width: 1in;
    height: 1in;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}

.content {
    background-color: black;
    position: absolute;
    left: 0;
    right: 70px;
    top: 40px;
    bottom: 0;
    border-top: 1px solid gray;
}

.lbl-chk {
    font-weight: normal !important;
    font-size: 14px;
    margin-top: 2px;
}

.object-panel {
    position: absolute;
    z-index: 1;
    width: 200px;
    background: #ccc;
    top: 41px;
    right: 71px;
    padding: 10px;
}

.rem-select {
    user-select: none;
}

.addon-60p {
    min-width: 60px;
}

.addon-74p {
    min-width: 74px;
}

.lbl-header {
    color: #422e97;
}

/* ######################################## */
/* Toggle Switch */
.mc-toggle-switch-sm {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 16px;
}

    .mc-toggle-switch-sm input {
        opacity: 0;
        width: 0;
        height: 0;
    }


.mc-ts-slider-sm {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background-color: #777;*/
    background-color: #ce0303;
    -webkit-transition: .4s;
    transition: .4s;
}

    .mc-ts-slider-sm:before {
        position: absolute;
        content: "";
        height: 12px;
        width: 12px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        -webkit-transition: .1s;
        transition: .1s;
    }

.mc-ts-check-sm:checked + .mc-ts-slider-sm {
    /*background-color: #2196F3;*/
    background-color: #1e881e;
}

.mc-ts-check-sm:disabled + .mc-ts-slider-sm {
    /*background-color: #2196F3;*/
    background-color: #777 !important;
}

.mc-ts-check-sm:focus + .mc-ts-slider-sm {
    /*box-shadow: 0 0 1px #2196F3;*/
    box-shadow: 0 0 1px #1e881e;
}

.mc-ts-check-sm:checked + .mc-ts-slider-sm:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.mc-ts-slider-sm.round {
    border-radius: 20px;
}

    .mc-ts-slider-sm.round:before {
        border-radius: 50%;
    }

/* Switch Maior */
.mc-toggle-switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 30px;
}

    .mc-toggle-switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.mc-ts-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background-color: #777;*/
    background-color: #ce0303;
    -webkit-transition: .4s;
    transition: .4s;
}

    .mc-ts-slider:before {
        position: absolute;
        content: "";
        height: 22px;
        width: 22px;
        left: 6px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .1s;
        transition: .1s;
    }

.mc-ts-toggle-title {
    color: white;
    margin-top: 8px;
    font-size: 12px;
    font-family: verdana;
    font-weight: bold;
    position: absolute;
    top: 0;
}

.mc-ts-toggle-title-yes {
    margin-left: 14px;
    display: none;
}

.mc-ts-toggle-title-no {
    margin-left: 36px;
}

.mc-ts-check:checked + .mc-ts-slider:before {
    -webkit-transform: translateX(46px);
    -ms-transform: translateX(46px);
    transform: translateX(46px);
}

.mc-ts-check:checked + .mc-ts-slider {
    /*background-color: #2196F3;*/
    background-color: #1e881e;
}

    .mc-ts-check:checked + .mc-ts-slider + .mc-ts-toggle-title-yes {
        display: block;
    }

        .mc-ts-check:checked + .mc-ts-slider + .mc-ts-toggle-title-yes + .mc-ts-toggle-title-no {
            visibility: hidden !important;
        }

.mc-ts-check:disabled + .mc-ts-slider {
    /*background-color: #2196F3;*/
    background-color: #777 !important;
}

.mc-ts-check:focus + .mc-ts-slider {
    /*box-shadow: 0 0 1px #2196F3;*/
    box-shadow: 0 0 1px #1e881e;
}

.mc-ts-slider.round {
    border-radius: 34px;
}

    .mc-ts-slider.round:before {
        border-radius: 50%;
    }
/* Exemplo de Uso:
    <label class="mc-toggle-switch-sm">
      <input class="mc-ts-check-sm" type="checkbox" id="chkTeste" checked />
      <span class="mc-ts-slider-sm round"></span>
    </label>

    <label class="mc-toggle-switch">
	    <input class="mc-ts-check" type="checkbox" id="chkTeste" />
   	    <span class="mc-ts-slider round">
	    </span>
        <div class='mc-ts-toggle-title mc-ts-toggle-title-yes'>Sim</div>
        <div class='mc-ts-toggle-title mc-ts-toggle-title-no'>Não</div>
    </label>
*/
/* ######################################## */

.icon-adj {
    top: 3px;
}

.btn-sm-adj {
    height: 34px;
}

.mc-toggle-switch {
    width: 170px;
}

.mc-ts-check:checked + .mc-ts-slider:before {
    -webkit-transform: translateX(136px);
    -ms-transform: translateX(136px);
    transform: translateX(136px);
}

.layer-panel, .map-reveal-panel, .object-panel {
    width: 370px;
}

.alert-map-reveal {
    position: absolute;
    z-index: 1;
    top: 42px;
    right: 440px;
    user-select: none;
    cursor: pointer;
}

body {
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.modal-footer, .modal-header {
    padding: 5px !important;
}

    .modal-header .close {
        margin: 5px 5px 0 0;
    }

.modal-title {
    margin-top: 4px;
    margin-left: 10px;
}

.modal-body {
    padding: 10px;
}